body {
font: 30px "Noto Sans", sans-serif; 
background: #CCC url("bg.jpg") fixed;
/* background: #E0E0E0 url("/web/20130823021207im_/http://flipsmack.com/social/mpf.jpg") fixed center top; */
}

.preload {
width: 0px;
height: 0px;
overflow: hidden;
display: none;
margin-left: -1000px;
}


/* stupid ie9 */
img {border:none;}

.outer
{
background: #FFF;
padding:8px;
margin-right:auto; margin-left:auto;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;

box-shadow: 2px 3px 10px #333;
-webkit-box-shadow: 2px 3px 10px #333;
-moz-box-shadow: 2px 3px 10px #333;

<!--[if IE]>
<style type="text/css">
.ie-shadow {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 102px; /* match target width */
    height: 102px; /* match target height */
    z-index: 1;
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15', MakeShadow='true', ShadowOpacity='0.40');
}
</style>
<![endif]-->

}
/* end stupid IE stuff */

.main
{
/* border:7px double #E5E5E5; */
padding: 10px 8px;
}

a:link, a:active, a:visited { 
color: #36c; 
text-decoration: none;
outline:none;
}

/*
a:visited { 
color: #999; 
} */

a:hover {
color: #409fff; 
} 














