body {
font-family: "Noto Sans", sans-serif; 
font-size: 30px;
background: #CCC url("bg.jpg") fixed;
background-size: cover;
color: #333;
/* background: #E0E0E0 url("/web/20130823021207im_/http://flipsmack.com/social/mpf.jpg") fixed center top; */
}

.outer
{
background: #FFF;
margin-right:auto; margin-left:auto;
margin-top: 14%;
}

.main {
padding: 24px 12px;
}

.pic {
padding: 0 4px 0 1em;
}

img {
vertical-align: middle;
}

table {
font-size: 30px !important;
}





.ch {
position: absolute;
bottom: 2em; 
right: 2em;
z-index: -1;
}



.outer
{
background: #FFF;
padding:8px;
margin-right:auto; margin-left:auto;

border-radius: 4px;

box-shadow: 2px 4px 6px #333;

a:link, a:active, a:visited { 
color: #36c; 
text-decoration: none;
outline:none;
}


.main {
padding: 12px 8px;
}

/*
a:visited { 
color: #999; 
} */

a:hover {
color: #409fff; 
} 














